@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Employees.Models.entities.employees

<h1>Edit Employee Data</h1>

@if (Model is null)
{
    <p>No Student Found </p>
}
else
{
    <form method="post">

        <div class="mt-3">
            <label class="form-label"> ID </label>
            <input type="text" class="form-control" asp-for="Id" readonly />
        </div>
        <div class="mt-3">
            <label class="form-label"> First Name </label>
            <input type="text" class="form-control" asp-for="First_Name" />
        </div>
        <div class="mt-3">
            <label class="form-label"> Last Name </label>
            <input type="text" class="form-control" asp-for="Last_Name" />
        </div>
        <div class="mt-3">
            <label class="form-label"> Date Of Birth </label>
            <input type="text" class="form-control" asp-for="date_of_birth" />
        </div>
        <div class="mt-3">
            <label class="form-label"> Date Of Hire </label>
            <input type="text" class="form-control" asp-for="date_of_hire" />
        </div>
        <div class="mt-3">
            <label class="form-label"> Department ID </label>
            <input type="text" class="form-control" asp-for="deptid" />
        </div>
        <div class="mt-3">
            <label class="form-label"> Position </label>
            <input type="text" class="form-control" asp-for="position" />
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-dark">Save</button>

            <button type="submit" class="btn btn-secondary"
            asp-action="Delete"
            asp-controller="Employees">Delete</button>

        </div>

    </form>
}