@model Employees.Models.entities.employees

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="card-title text-center font-monospace">Edit Employee Data</h1>

                @if (Model is null)
                {
                    <p>No Employee Found</p>
                }
                else
                {
                    <form method="post">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control mb-3" asp-for="Id" readonly />
                        </div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control mb-3" asp-for="First_Name" />
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control mb-3" asp-for="Last_Name" />
                        </div>
                        <div class="form-group">
                            <label>Date Of Birth</label>
                            <input type="text" class="form-control mb-3" asp-for="date_of_birth" />
                        </div>
                        <div class="form-group">
                            <label>Date Of Hire</label>
                            <input type="text" class="form-control mb-3" asp-for="date_of_hire" />
                        </div>
                        <div class="form-group">
                            <label>Department ID</label>
                            <input type="text" class="form-control mb-3" asp-for="deptid" />
                        </div>
                        <div class="form-group">
                            <label>Position</label>
                            <input type="text" class="form-control mb-3" asp-for="position" />
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-dark btn-block btn-bordered mt-3">Save</button>
                            <button type="submit" class="btn btn-secondary btn-block btn-bordered mt-3" asp-action="Delete" asp-controller="Employees">Delete</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
