.btn-bordered {
    border: 2px solid #343a40; 
    transition: all 0.3s ease;
}

    .btn-bordered:hover {
        background-color: #343a40; 
        color: #ffffff; 
    }



.vh-100 {
    height: 100vh;
}

.table {
    margin-bottom: 0; 
    box-shadow:70%;
}

.thead-dark th {
    background-color: #343a40; 
    color: #ffffff;
}

.card-title {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
}

.card {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}